:root {
  --color-1: #fff2e0;  /* Background */
  --color-2: #c0c9ee;  /* Surfaces / cards */
  --color-3: #a2aadb;  /* Primary accent (buttons, links) */
  --color-4: #898ac4;  /* Secondary accent (hover, alerts) */
}

.App {
  text-align: center;
  background-color: var(--color-1);
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position:fixed;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--color-2);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
  font-size: 1.5rem;
  font-weight: bold;
}

.Modal-Overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5); /* dark backdrop */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000; /* higher than navbar */
}

.Modal {
  background-color: var(--color-2);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 2001;
}

.Modal-Button {
    background-color: var(--color-3);
    border-radius: 4px;
    padding: 10px;
}

.Modal-Button:hover {
    background-color: var(--color-4);
}

.Team {
    margin: 60px;
    width: 76vw;
}

.Team-Bar {
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 4vw;
    padding: 60px 0px;
}

.Team-Bar button {
    width: 13%;
    height: 11%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}

.Team-Bar button:hover {
    width: 13%;
    height: 11%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
}

.Team-Member {
    position: relative;
    width: 10vw;
    height: 10vw;
}

.Team-Member img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Info {
    text-align: left;
    padding: 0px;
}

.Team-List {
    width: 24vw;
    background-color: var(--color-3);
    padding-top: 60px;
}

.Team-List button{
    width: 100%;
    height: 30px;
    background-color: var(--color-2);
}

.Debug-Bar {
  position: fixed;  /* viewport-fixed */
  bottom: 30px;        /* pin to bottom of viewport */
  height: 60px;
  width: 100%;
  background-color: var(--color-2);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 1.5rem;
  font-weight: bold;
}

.Debug-Bar button{
    padding: 10px 20px;
    background-color: var(--color-3);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1500;
}

.Search-Popup {
    background-color: var(--color-2);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    z-index: 2001;
    width: 60vw;
    height: 60vh;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.Search-Filters{
    flex: 1;
}

.Search-Results{
    flex: 1;
}

.Result-Button{
    display: flex;
    background-color: var(--color-4);
    border-radius: 8px;
    width: 200px;
    height: 70px;
    text-align: center;
    color: var(--color-1);
    justify-content: left;
    gap: 10px;
    align-items: center;
}

.Result-Button img{
    width: 100px;
    height: 100px;
}

.Selected-Info {
    flex: 1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
